.image {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 2px solid;

}

.bg {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 2px solid;
  background: url(../img/common/bg_desktop_advantage.png);
}